#!/usr/bin/env bash

# Make emacs the default editor
export EDITOR="emacs"
export SVN_EDITOR="emacs"
export EDITOR="emacs"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"
# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"

# Locale
export LC_ALL=en_GB.UTF-8
export LANG=en_GB.UTF-8

# Colours in ant commands please
export ANT_ARGS='-logger org.apache.tools.ant.listener.AnsiColorLogger'

# Store vagrant boxes in home
# export VAGRANT_DOTFILE_PATH=~/.vagrant
export VAGRANT_VMWARE_CLONE_DIRECTORY=~/.vmware


# No virtual box thank you!
export VAGRANT_DEFAULT_PROVIDER=vmware_fusion
o