[user]
    name = AUTHORNAME
    email = AUTHOREMAIL
[color]
    diff = auto
    status = auto
    branch = auto
    ui = true

[credential]
    helper = GIT_CREDENTIAL_HELPER

[core]
    excludesfile = ~/.gitignore
    # Set git to ignore file permissions
    # fileMode = false
    editor = vim
    ignoreCase = false
[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path =
[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCA\
L\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
[http]

[push]

default = current

[help]
autocorrect = 1

[pager] 
branch = false
