<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dalle_images_folder</key>
	<string>~/Desktop</string>
	<key>openai_api_key</key>
	<string>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</string>
</dict>
</plist>
